body {
  overflow: hidden;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: red;
  position: fixed;
  top: 0%;
  left: 0%;
}

.loading .mini-load .sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.loading .mini-load .sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.loading .mini-load .sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.loading .mini-load .sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.loading .mini-load .sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.loading .mini-load .sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.loading .mini-load .sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loading .mini-load .sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.loading .mini-load .sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

#mobile-header {
  z-index: 99;
  position: absolute;
  top: 0;
  left: -100%;
  width: 90%;
  background: #333;
  height: 100vh;
  text-align: center;
  -webkit-transition: left .4s ease-in-out;
  transition: left .4s ease-in-out;
}

#mobile-header.mobile-active {
  left: 0;
}

#mobile-header .close-menu {
  position: absolute;
  left: 100%;
  font-size: 2rem;
  margin: 10px;
  cursor: pointer;
  padding: 5px;
}

#mobile-header .logo {
  margin: 2rem 0;
}

#mobile-header nav.menu ul .click-li {
  position: relative;
}

#mobile-header nav.menu ul .click-li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 15px 5px;
  border-bottom: 1px solid #4b4b4b;
}

#mobile-header nav.menu ul .click-li .drop-ul {
  position: absolute;
  top: 50%;
  opacity: 0;
  visibility: hidden;
}

#mobile-header nav.menu ul .click-li .drop-ul.lala {
  opacity: 1;
  visibility: visible;
}

#header {
  position: relative;
}

#header .bar-menu {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

#header .big-menu li {
  padding: 15px;
}

#header .big-menu li.home {
  position: relative;
}

#header .big-menu li.home .dropped-t {
  position: absolute;
  top: 100%;
  background-color: red;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  visibility: hidden;
}

#header .big-menu li.home .dropped-t.open {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */